# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
**/jobs
**/rawgerbers
**/artwork

# production
frontend/GRX**
discard**

# misc
.DS_Store
.env
.env.development
.env.production
npm-debug.log
package-lock.json
.idea

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dist
# dist-ssr
# dist-electron
# release
*.local

# Editor directories and files
.vscode/.debug.env
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# lockfile
package-lock.json
pnpm-lock.yaml
yarn.lock
